# --------------------
# Python
# --------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# --------------------
# Virtual Environment
# --------------------
.venv/
venv/
env/

# --------------------
# Environment variables
# --------------------
.env

# --------------------
# Streamlit
# --------------------
.streamlit/

# --------------------
# OS files
# --------------------
.DS_Store
Thumbs.db

# --------------------
# Logs
# --------------------
*.log

# --------------------
# OCR / temp files
# --------------------
*.tmp
*.cache

# --------------------
# IDE
# --------------------
.vscode/
.idea/

# --------------------
# PDF outputs / test files (optional)
# --------------------
*_report.pdf
